.navbar {
    background-color: rgb(49, 218, 161);
}

.brand {
    height: 60px;
}

.nav-link {
    font-weight: 500;
    font-size: x-large;
    color: white;
}
.nav-item{
    text-align: right;
}
.nav-item > a:hover {
    color: rgb(0, 3, 3)!important;
  }

.nav-link {
    font-size: 20px;
}

.navbar-toggler {
    background-color: rgb(84, 119, 119);
}

.navbar-nav > .active {
    color: rgb(3, 3, 3); 
  }
